/* CSS HEX */
/*--kombu-green: #313715ff;*/
/*--chestnut: #98473eff;*/
/*--ash-gray: #acbdbaff;*/
/*--space-cadet: #2c365eff;*/
/*--battleship-grey: #868784ff;*/

*{
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
}
.left{
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    flex-direction: column;
}
.picture img{
    width: 15rem;
    border-radius: 30%;
    border: #98473E solid 0.3rem;
}
.name{
    text-align: center;
}
.contact-info li{
    display: flex;
    margin: 0 .5rem .5rem .5rem;
}
i{
    margin-right: .5rem;
}
.skills h4{
    text-align: center;
}
.skills ul{
    display: flex;
}
